# vim: set ft=sh:
# Shared aliases between bash and zsh

alias ls='ls --color=auto'
alias l='ls -alFh'
alias la='ls -Ah'
alias :e='nvim'
alias :q='exit'
alias please='sudo $(fc -ln -1)'
#alias dir='dir --color=auto'
#alias vdir='vdir --color=auto'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

